<!DOCTYPE HTML>
<html>
<head>
<title>Tut</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

</head>
<body>
	<script type="text/template" id="add_template"> 
		<label>Add:</label> 
		<input type="text" name='name' id='new_name'/> 
		<input type="text" name='age'  id='new_age'/> 
		<input type="text" name='city'  id='new_city'/> 
		<button class='button_add'>Add Customer</button> 
	</script>
	<script type="text/template" class="filter_city_template"> 
		<input name='city' type='checkbox' value='<%= name %>'><%= name %></input>
	</script>

	<script type="text/template" class="customer_template">
		<label>name:</label> 
		<strong><%= name %></strong>
		<label>age:</label> 
		<strong><%= age %></strong>
		<label>city</label> 
		<strong><%= city %></strong>
		<button class="button_remove">Remove Me</button>
	</script>

	<div id='sidebar' style='width:20%;float:left'>.
		<h2>Filter Customers</h2>
		<h2>Filter by Age</h2>
		<div>
			<label for="age_display_range">Age range:</label>
			<input type="text" id='age_display_range' style='border: 0; color: #f6931f; font-weight: bold;'/>
			<div id="age_slider"></div>
		</div>
		<h2>Filter by City</h2>
		<div>
			<ul class='filter_cities'></ul>			
		</div>
		<div>
			<button class='reset_filters'>reset filters</button>
		</div>
	</div>
	<div id='content' style='width:80%;float:left'>
		<h3>Add customer</h3>
		<div id="add_container"></div>
		<h3>Customers List</h3>
		<div id="customers_container">
			<ul class='customers'></ul>
		</div>
	</div>
	<script type="text/javascript" src="a.js"></script>
</body>
</html>